:root{
    --DarkBlue: hsl(209, 23%, 22%); /* (Dark Mode Elements) */
    --VeryDarkBlue: hsl(207, 26%, 17%); /* (Dark Mode Background) */
    --VeryDarkBlue-text: hsl(200, 15%, 8%); /* (Light Mode Text) */
    --DarkGray: hsl(0, 0%, 52%); /* (Light Mode Input) */
    --VeryLightGray: hsl(0, 0%, 98%); /* (Light Mode Background) */
    --White: hsl(0, 0%, 100%); /* (Dark Mode Text & Light Mode Elements) */

    --shadow-light: 0 0 10px 0 hsla(209, 26%, 17%, 0.199);
    --shadow-dark: 0 0 10px 0  hsl(200, 15%, 8%, .5);
    --trancition: background-color 350ms, color 350ms, box-shadow 350ms;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--VeryLightGray);
    color: var(--VeryDarkBlue-text);
}

body.dark{
    background-color: var(--VeryDarkBlue);
    color: var(--White);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* * header ------------------- */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--White);
    box-shadow: var(--shadow-light);
    transition: var(--trancition);
}

.dark .header{
    background-color: var(--DarkBlue);
    box-shadow: var(--shadow-dark);
}

.header__h1{
    font-size: 1.2em;
}

.header__div{
    cursor: pointer;
    padding: 1.1em 1.1em 1em 1em;
    border-radius: 5px;
    transition: var(--trancition);
}

.header__div:hover{
    background-color: var(--VeryDarkBlue);
    color: var(--White);
}

body.dark .header__div:hover{
    background-color: var(--White);
    color: var(--VeryDarkBlue-text);
}

.header__icon{
    padding: 0 5px 5px;
    transform: rotateZ(-30deg);
}

.header__span{
    font-weight: 600;
}

/* * main ------------------- */

.main{
    display: flex;
    padding: 1em;
    position: relative;
    min-height: calc(100vh - 7em);
}

.box-1{
    overflow: hidden;
    transition: width 350ms;
    width: 0;
    height: 0;
}

.box-1.open{
    flex: 1 1;
    height: auto;
}

.box-2{
    overflow: hidden;
    transition: width 350ms;
    width: 0%;
    display: flex;
    flex-direction: column;
    gap: 4em;
    height: 0;
}

.box-2.open{
    margin: 3em 2em;
    flex: 1 1;
    height: auto;
}

/* * box 1 ------------------- */

/* * nav ------------------- */

nav{
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
}

.nav__div{
    position: relative;
    max-width: 650px;
    width: 100%;
}

.nav__input{
    padding: 2em;
    width: 100%;
    display: block;
    border: var(--border-light);
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--DarkBlue);
    box-shadow: var(--shadow-light);
    padding-left: clamp(5em, 20% ,8em);
}

.nav__input::placeholder{
    opacity: .5;
}

body.dark .nav__input{
    border: var(--border-dark);
    border-radius: 5px;
    box-shadow: var(--shadow-dark);
    background-color: var(--DarkBlue);
    color: var(--White);
}

body.dark .nav__input::placeholder{
    color: var(--White);
    opacity: .8;
}

.nav__icon{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: var(--DarkGray);
    font-size: 1.2em;
}

.dark .nav__icon{
    color: var(--White);
}

.nav__select{
    padding: 1.5em;
    width: 100%;
    max-width: 200px;
    border: none;
    border-radius: 5px;
    outline: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--White);
    box-shadow: var(--shadow-light);
    font-size: .9em;
}

.nav__select:hover .nav__span, .nav__select:hover .nav__arrow{
    opacity: 1;
}

.dark .nav__select{
    background-color: var(--DarkBlue);
    box-shadow: var(--shadow-dark);
}

.nav__span{
    opacity: .5;
    transition: opacity 350ms;
}

.nav__span.open{
    opacity: 1;
}

.nav__arrow{
    opacity: .5;
    font-size: .8em;
    transition: opacity 350ms;
}

.nav__arrow.open{
    opacity: 1;
}

.nav__ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 1em;
    position: absolute;
    bottom: -96px;
    background-color: var(--White);
    box-shadow: var(--shadow-light);
    left: 0;
    width: 100%;
    border-radius: 5px;
    transition: var(--trancition), transform 500ms;
    transform: rotateX(90deg) translateY(51%);
    z-index: 1;
}

.dark .nav__ul{
    background-color: var(--DarkBlue);
    box-shadow: var(--shadow-dark);
}

.nav__ul.open{
    transform: rotateX(0deg) translateY(51%);
}

.nav__li{
    padding: .5em;
    border-bottom: 1px solid transparent;
    transition: border-bottom 350ms, opacity 350ms, transform 350ms, height 350ms;
    opacity: .5;
    border-radius: 5px;
    overflow: hidden;
}

.nav__li.select{
    height: 0;
    padding: 0;
}

.nav__li:hover{
    opacity: 1;
    box-shadow: var(--shadow-light);
    transform: scale(1.1);
}

.dark .nav__li:hover{
    box-shadow: var(--shadow-dark);
}

/* * flags ------------------- */

.grid{
    min-height: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: space-evenly;
    gap: 4em clamp( 1em , 8% , 5.5em );
    margin: 1em auto 8em;
}

.flag{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--White);
    box-shadow: var(--shadow-light);
    cursor: pointer;
    margin: auto;
    transition: transform 350ms;
    position: relative;
}

.flag:hover{
    transform: scale(1.1);
}

.dark .flag{
    background-color: var(--DarkBlue);
    box-shadow: var(--shadow-dark);
}

.flag__img{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.flag__div{
    padding: 2em;
}

.flag__h2{
    font-size: 1.4em;
    margin-bottom: 1em;
}

.flag__p{
    margin-bottom: 1em;
    line-height: 1.5em;
    font-weight: 600;
    font-size: 1em;
    color: var(--DarkBlue);
}

.dark .flag__p{
    color: var(--White);
}

.flag__span{
    font-weight: 300;
    opacity: .7;
}

.flag__modal{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/* * box 2 ------------------- */

.box-2__bottun{
    position: relative;
    padding: .6em 2em;
    background-color: var(--White);
    box-shadow: var(--shadow-light);
    width: 130px;
    text-align: right;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--trancition);
}

.dark .box-2__bottun{
    color: var(--White);
    background-color: var(--DarkBlue);
    box-shadow: var(--shadow-dark);
}

.box-2__bottun span, .box-2__bottun i{
    opacity: .5;
    transition: opacity 350ms;
}

.box-2__bottun:hover span{
    opacity: 1;
}

.box-2__bottun:hover i{
    opacity: 1;
}

.box-2__arrow{
    font-size: 1.2em;
    position: absolute;
    left: 1.5em;
    top: 50%;
    transform: translateY(-50%);
}

.box-2__flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
}

.box-2__img{
    width: 100%;
    max-width: 560px;
    height: 50vw;
    max-height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.103);
    margin: auto;
}

.box-2__info{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    margin: auto;
}

.box-2__h2{
    width: 100%;
}

.box-2__p{
    line-height: 2em;
    font-weight: 600;
    margin-bottom: 1em;
}

.box-2__span{
    color: var(--DarkBlue);
    font-weight: 300;
    opacity: .8;
}

.dark .box-2__span{
    color: var(--White);
}

.box-2__text{
    font-size: 1.1em;
    padding-right: 1em;
}

.box-2__country{
    display: inline-flex;
    gap: .5em;
    padding: 1em 0;
    flex-wrap: wrap;
}

.box-2__a{
    background-color: var(--White);
    box-shadow: var(--shadow-light);
    padding: .2em 1.2em;
    font-size: .9em;
    border-radius: 5px;
    cursor: pointer;
    color: var(--DarkGray);
    transition: color 350ms, transform 350ms;
}

.box-2__a:hover{
    color: var(--DarkBlue);
    transform: scale(1.1);
}

.dark .box-2__a:hover{
    color: var(--White);
    transform: scale(1.1);
}

.dark .box-2__a{
    background-color: var(--DarkBlue);
    box-shadow: var(--shadow-dark);
}

@media screen and (min-width: 1060px) {

    /* * header ------------------- */

    .header{
        padding: 1em 4em;
    }
    
    /* * nav ------------------- */

    .nav{
        padding: 2em 4em;
    }

    /* * main ------------------- */

    .grid{
        grid-template-columns: repeat(auto-fill, 360px);
    }

    /* * box 1 ------------------- */

    .grid{
        padding: 1em 3em;
    }

    .box-2__flexbox{
        align-items: center;
    }

    .box-2__info{
        padding-top: 3em;
        align-items: center;
    }

    .box-2__h2{
        font-size: 2.5em;
    }

    .box-2__p{
        padding-top: 1em;
        margin-bottom: 0;
        line-height: 2em;
    }
   
    .box-2__footer{
        margin-top: 1em;
    }

    /* * box 2 ------------------- */
    
    .box-2__flexbox{
        justify-content: space-evenly;
    }

    .box-2__img{
        max-width: 760px;
        max-height: 500px;
        margin: 0;
    }

    .box-2__info{
        max-width: 700px;
        min-width: 500px;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1em;
        flex: 1 1;

    }
}

/* * loader ------------------- */

.loader{
    display: none;
}

.loader.open{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: var(--VeryLightGray);
}

.dark .loader.open{
    background-color: var(--VeryDarkBlue);
}

.open .loader-item{
    width: 1em;
    height: 2em;
    background-color: var(--DarkBlue);
    box-shadow: var(--shadow-light);
    opacity: .5;
}

.dark .open .loader-item{
    background-color: var(--White);
    box-shadow: var(--shadow-dark);
}

.open .loader-item:nth-child(1){
    animation: loader 2s infinite ease;
    animation-delay: 0s;
}
.open .loader-item:nth-child(2){
    animation: loader 2s infinite ease;
    animation-delay: .5s;
}
.open .loader-item:nth-child(3){
    animation: loader 2s infinite ease;
    animation-delay: 1s;
}

@keyframes loader {
    0%{
        height: 2em;
        opacity: .5;
    }
    50%{
        height: 5em;
        opacity: 1;
    }
    100%{
        height: 2em;
        opacity: .5;
    }
}

/* filter ---------------------- */

.filter{
    display: none;
}